@media (min-width:992px) {
body{
    background-color: black;
    text-align: center;
    margin: 0 auto;
    
}
}

.inline-block{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin: 20px;
    background-color: #9073E7;
    color: black;
    font-family: "nunito", "Arial";
    font-style: bold;
    font-size: 42px;
    border-radius: 20px;
}

.inline-block:active {
    background-color: #F5C1B3;

}

.menu{
    display: flex;
    width: 240px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 32px;
    border-radius: 20px;
    font-family: "nunito", "Arial";
    color:white
}

.menu:hover{ 
background-color: #CEE6CE;
}

.dropdown{

    display: inline-block;
}

.dropdown-content{
    display:none;
}

.show {
    display: block;
  }

#top-title{
    display: flex;
    width: 1221px;
    height: 102px;
    justify-content: center;
    text-align: center;
    color:white ;
    font-family: "Lily Script One", "Arial";
    font-size: 60px;
}

.about{
    display: inline-block;
    padding: 15px;
    text-align: center;
}
    
    

   
 #mypic{
    float: left;
    border-color: #9073E7;
    border-width: 20px;
    border-radius: 40px;
    width: 300px;
    height: 379px;
    padding: 15px;
    display: none;
    
 }

   

 #intro{
    float: inline-end;
    background-color: #9073E7;
    color: white;
    text-align: center;
    font-family: "Nunito", "Arial";
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    height: 319px;
    width: 820px;
    border-radius: 40px;
    display: none;

 }


.sub-titles{
    display: flex;
    width: 345px;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Lexend Zetta", "Arial";
    font-size: 50px;
    background-color: #FFDFFF ;
    border-radius: 40px;
    margin-left: 00px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.skill-icon{
    display: flex;
    flex-direction: row;
    margin: 100px;


}

#skill-one{
    width: 338px;
    height: 138px;
    border-radius: 138px;
    background-color: black;
    color: white;
    font-family: "Nunito", "Arial";
    font-size: 42px;
    text-align: center;
    margin-top: 30px;
    margin-right: 70px;
    margin-bottom: 90px;
    margin-left: 70px;
}


#skill-two{
    width: 338px;
    height: 138px;
    border-radius: 138px;
    background-color: black;
    color: white;
    font-family: "Nunito", "Arial";
    font-size: 42px;
    text-align: center;
    margin-top: 30px;
    margin-inline: 100px;
    margin-bottom: 90px;
    margin-left: 70px;

}

#skill-three{
    width: 338px;
    height: 138px;
    border-radius: 138px;
    background-color: black;
    color: white;
    font-family: "Nunito", "Arial";
    font-size: 42px;
    text-align: center;
    margin-top: 30px;
    margin-inline: 100px;
    margin-bottom: 90px;
    margin-left: 70px;

}

#skill-four{
    width: 338px;
    height: 138px;
    border-radius: 138px;
    background-color: black;
    color: white;
    font-family: "Nunito", "Arial";
    font-size: 42px;
    text-align: center;
    margin-top: 30px;
    margin-inline: 100px;
    margin-bottom: 90px;
    margin-left: 70px;
    
}

.projects{
    display:flex ;
    flex-direction: row;

}

#slam-button{
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    font-family: "Nunito", "Arial";
    font-size: 42px;
    text-align: center;
    margin-inline: 70px;
    margin-top: 30px;
    margin-bottom: 90px;
}

#slam-button:hover{
    border-color: #9073E7;
    border-width: 10px;
}
.coming-soon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 300px;
    background-color: #af2efa;
    border-radius: 40px;
    color: white;
    font-family: "Lexend Zetta", "Arial";
    font-size: 42px;
    text-align: center;
    margin-inline: 30px;
    margin-top: 30px;
    margin-bottom: 90px;
    
}

.coming-soon:hover{
    border-color: #9073E7;
    border-width: 10px;

}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 910px;
    height: 126px;
    padding: 33px 28px;
    border-radius: 40px;
}


#type{
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 33px 28px 150px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin: 30px;
}

.text-input{
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 33px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin: 30px;
}

.menu-btn{
    display: flex;
    width: 250px;
    height: 94px;
    flex-direction: column;
    align-items: center;
    background-color: #9073E7;
    border-radius: 40px;
    text-align: center;
    font-family: "Nunito", "Arial";
    font-size: 42px;
    font-style: normal;
    margin: 30px;
}

#footer{
    display: flex;
    flex-direction: row;
    height: 327px;   
    background-color: #af2efa;
    border-radius: 20px;
    font-family: "Nunito","Arial";
    font-size: 32px;
    margin: 0px;
    margin-top: 800px;
   
}

.contact-info{
    padding: 15px;
    margin-inline: auto;

}

.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: -6px;
    text-align: center;

    
}
#navigation{
    font-family: "Nunito", "Arial";
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
}

#footer-img{
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    animation-name: test;
    animation-duration: 20s;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes test{
    0%   {right:0px;}
    25%  {right:100px;}
    50%  {right:200px;}
    75%  {right:300px}
    100% {right:0px}

}
